:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 30px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #999;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
  color: #000;
}

.logo {
  flex: 1;
}

.logo img {
  height: 30px;
  vertical-align: middle;
}

.hamburger-menu {
  display: none;
}

@media (max-width: 768px) {
  header {
    padding: 20px;
  }

  nav ul {
    display: none;
    flex-direction: column;
    margin-top: 30px;
  }

  nav ul.show {
    display: flex;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
  }

  .hamburger-menu span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #000;
    margin-bottom: 5px;
    transition: all 0.2s ease-in-out;
  }

  .hamburger-menu.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger-menu.open span:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}
